# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


GreenToken/build/
GreenToken/node_modules/
.DS_Store
.node-xmlhttprequest-sync-*
.idea/*

GreenToken/coverage/
GreenToken/coverageEnv/
GreenToken/allFiredEvents
GreenToken/coverage.json
GreenToken/scTopics
